.nav-div{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 10px 10px;
   
}
.sub-link{
    display:flex;
    align-items:center;
    gap:1rem;
}
.logo{
    font-size: larger;
    font-weight: bold;
}
