@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');
body {
  margin: 0;
  font-family:  'Federo', sans-serif; 
  background-color:rgb(230, 230, 230);
}
  *{
    box-sizing: border-box;
    
  }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.link{
  text-decoration:none;
  color:black;
}
Link{
  text-decoration:none;
}